/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/*.row-eq-height {
    display: table;
}

.row-eq-height [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;

}*/

@media (max-width:1024px) {
.row-eq-height {
  display: -webkit-block;
  display: -webkit-block;
  display: -ms-block;
  display: block!important;
}
}