@charset "utf-8";
/* CSS Document */

/* Table of Contents

1. BODY
2. PRELOADER
3. ANIMATED
4. NAVIGATION
5. SLIDER
6. WE BUILD
7. MANAGE
8. SERVICES TABS
9. WHAT WE BELIEVE
10. OUR PROCESS
11. INTERACTIVE
12. FEATURED PROJECTS
13. FUNFACTS
14. TEAM
15. OUR SERVICES
16. PORTFLIO
17. RESPONSIVE DESIGN
18. HIGH QUALITY
19. TESTIMONIALS
20. BLOG
21. WHAT WE DO
22. GET IN TOUCH
23. PRICES
24. SHARE ON
25. TOTOP
26. BUTTONS
27. NO GUTTER
28. PARALLAX
29. COMMING SOON PAGE
30. ABOUT PAGE
32. SERVICES PAGE
33. PROJECT PAGE
34. FEATURED PAGE
35. BLOG PAGE
36. TYPOGRAPHY PAGE
37. CONTACT PAGE
38. MEDIA QURIES 


*/

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #929292;
	background-color: #1b1b1c;
	line-height: 30px;
}
/* ---------------------------------------------------------------------- PRELOADER STARTS ------------------ */

#preloader {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}
.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	background: #FFF;
	height: 36px;
	width: 36px;
	margin-left: -18px;
	margin-top: -18px;
}
/* ---------------------------------------------------------------------- PRELOADER ENDS ------------------ */
/* ---------------------------------------------------------------------- FOR ANIMATED ITEMS STARTS  ------------------ */
.animated {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
/* ---------------------------------------------------------------------- FOR ANIMATED ITEMS ENDS  ------------------ */
a {
	color: #e04b2c;
	text-decoration: none
}
a:focus, a:hover {
	color: #e04b2c;
	text-decoration: underline
}
/* ------------------------------------------- NAVIGATION STARTS ---------- */
.top-contact {
	font-size: 14px;
	text-align: right;
	color: #fff;
	padding-top: 20px;
	padding-right: 30px;
}
.top-contact span {
	padding-left: 20px;
}
.top-contact span i {
	padding-left: 8px;
	padding-right: 8px;
}
.top-contact span a {
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.top-contact span a:hover {
	color: #df4322;
	text-decoration: none;
}
.navbar-brand {
	float: left;
	font-size: 18px;
	padding-top: 18px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.sticky-wrapper {
	height: 0px!important;
}
#navigation {
	width: 100%;
	margin-left: auto;
	margin-bottom: auto;
	position: absolute;
	z-index: 99999;
	padding-left: 20px;
	padding-right: 20px;
}
#navigation ul.nav {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#navigation ul.nav li {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#navigation ul.nav li:last-child {
	padding-right: 0px;
}
#navigation ul.nav li:last-child a {
	padding-right: 0px;
}
.nav>li>a {
	position: relative;
	display: block;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 15px;
	padding-left: 20px;
}
#navigation ul.nav li a {
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#navigation ul.nav a:hover {
	color: #df4322;
	text-decoration: none;
}
#navigation ul.nav .current a {
	color: #df4322;
	text-decoration: none;
}
ul.dropdown-menu {
	padding: 24px;
}
ul.dropdown-menu li a {
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	color: #969696;
}
ul.dropdown-menu li a {
	color: #969696!important;
}
ul.dropdown-menu li a:hover {
	color: #df4322!important;
}
ul.dropdown-menu li a:last-child {
	padding-bottom: 0px!important;
}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
	position: static;
}
.yamm .container {
	position: relative;
}
.yamm .dropdown-menu {
	left: auto;
}
.yamm .yamm-content {
/*padding: 20px 30px;	*/
}
.dropdown-menu h3 {
	font-size: 14px;
	color: #fff;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#navigation ul.nav li .yamm-content a:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	content: "\f105";
	margin-right: 6px;
}
.navbar-nav>li>.dropdown-menu li a:before {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	content: "\f105";
	margin-right: 6px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
	left: 0;
	right: 0;
	margin-left: 14px;
	margin-right: 14px;
}
ul.mega-links {
	padding: 0px;
	margin: 0px;
}
ul.mega-links li {
	color: #666;
	list-style-type: none;
	padding: 4px;
}
ul.mega-links li a {
	color: #666;
	font-weight: 400;
	font-size: 12px;
}
ul.mega-links li a:link {
	color: #666;
	font-weight: 400;
}
ul.mega-links li:hover {
	color: #666;
}
.dropdown-li {
	display: inline-block !important;
}
.dropdown-link {
	display: inline-block !important;
	padding-right: 2px !important;
}
.dropdown-caret {
	display: inline-block !important;
	padding-left: 2px !important;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #e4545b;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
/* ------------------------------------------- NAVIGATION ENDS ---------- */

/* ------------------------------------------- SLIDER STARTS ---------- */

#slider .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#slider .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #df4322;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#slider .buttons a:first-child {
	margin-right: 10px;
}
/* ------------------------------------------- SLIDER ENDS ---------- */

/* ------------------------------------------- WE BUILD STARTS ---------- */
.we-build {
	position: absolute;
	bottom: -300px;
	z-index: 9999;
	padding-top: 20px;
	padding-bottom: 75px;
	left: 0;
	right: 0;
}
.we-build .intro {
	margin-top: 170px;
}
.we-build h1 {
	font-size: 70px;
	font-weight: 700;
	color: #fff;
}
.we-build .description {
	font-size: 14px;
	font-weight: 400;
	padding-top: 20px;
}
.we-build-carousel .owl-wrapper-outer {
	border: 12px solid #f5f5f5;
}
.we-build-carousel.owl-theme .owl-controls {
	text-align: center;
	position: absolute;
	margin-top: 10px!important;
	padding-top: 0px!important;
	left: 0;
	right: 0;
}
/* ------------------------------------------- WE BUILD ENDS ---------- */

/* ------------------------------------------- MANAGE STARTS ---------- */

.manage {
	padding-top: 80px;
	padding-bottom: 40px;
}
.manage h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 30px;
	color: #fff;
}
.manage .description {
	font-size: 14px;
	font-weight: 400;
}
/* ------------------------------------------- MANAGE ENDS ---------- */

/* ------------------------------------------- HOME SERVICES COLS STARTS ---------- */
.services-cols {
	text-align: center;
	padding-top: 340px;
	padding-bottom: 5px;
}
.services-cols .icon {
	font-size: 50px;
	color: #c1c1c1;
	margin-bottom: 30px;
}
.services-cols h1 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #df4322;
}
.services-cols .description {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 50px;
}
.services-cols-2 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.services-cols-2 .icon {
	font-size: 50px;
	color: #df4322;
	margin-bottom: 30px;
}
.services-cols-2 h1 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
}
.services-cols-2 .description {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 50px;
}
/* ------------------------------------------- HOME SERVICES COLS ENDS ---------- */

/* ------------------------------------------- HOME WHAT WE BELIEVE IN STARTS ---------- */

.believe-in {
	padding-top: 40px;
}
.believe-in h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
}
.believe-in h1 {
	font-size: 70px;
	font-weight: 700;
	margin-top: 0px;
	color: #fff;
}
.believe-in .intro {
	padding-top: 130px;
	padding-bottom: 100px;
}
.believe-in .description {
	font-size: 16px;
	font-weight: 400;
}
/* ------------------------------------------- HOME WHAT WE BELIEVE IN STARTS ---------- */

/* ------------------------------------------- OUR PROCESS STARTS ---------- */

.our-process {
	padding-top: 100px;
	padding-bottom: 0px;
	text-align: center;
	color: #fff;
}
.our-process h3 {
	font-size: 30px;
	font-weight: 400;
}
.our-process h1 {
	font-size: 60px;
	font-weight: 700;
	padding-top: 10px;
}
.our-process .description {
	font-size: 16px;
	font-weight: 400;
	padding-top: 24px;
}
.process-tabs {
	padding-top: 50px;
}
.process-tabs .nav-tabs {
	position: relative;
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
}
.process-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #43b573;
	cursor: default;
	border: none;
	background-color: transparent;
}
/*span.round-tabs {
	width: 130px;
	height: 130px;
	border-radius: 65px;
	line-height: 70px;
	font-size: 50px;
	padding-top: 20px;
	display: inline-block;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
}*/
.process-tabs .nav-tabs > li.active > a span.round-tabs {
/*background: #fff;*/
}
.process-tabs .nav-tabs > li {
	/*width: 20%;*/
	font-size: 16px;
	font-weight: 400;
}
.process-tabs .nav-tabs > li a {
	/*width: 130px;
	height: 130px;
	margin: 20px auto;
	border-radius: 65px;
	padding: 0;*/
	color: #43b573;
}
.process-tabs .nav-tabs > li a:hover {
	background: none!important;
	border: none;
	color: #43b573;
}
.process-tabs .nav-tabs {
	border-bottom: none;
}
.process-tabs .tab-content {
	padding-top: 50px;
}
/* ------------------------------------------- OUR PROCESS ENDS ---------- */

/* ------------------------------------------- INTERACTIVE STARTS ---------- */
.interactive {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #fff;
	font-size: 26px;
	line-height: 65px;
}
.interactive .icon {
	text-align: center;
	font-size: 70px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
}
.interactive .icon a {
	color: #fff;
}
.interactive .icon a:hover {
	opacity: 0.8;
}
/* ------------------------------------------- INTERACTIVE ENDS ---------- */

/* ------------------------------------------- FEATURED PROJECTS STARTS ---------- */

.featured-projects {
	text-align: center;
	padding-top: 90px;
}
.featured-projects .bg-text {
	position: absolute;
	z-index: 0;
	top: -20px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.featured-projects .bg-text img {
	max-width: 100%;
	height: auto
}
.featured-projects h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
}
.featured-projects h1 {
	font-size: 60px;
	font-weight: 700;
	padding-top: 10px;
	color: #fff;
}
.featured-projects .box {
	border: 20px solid #202020;
	background-color: #202020;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 50px;
	margin-bottom: 170px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.featured-projects .box:hover {
	border: 20px solid #000;
}
.featured-projects .box .info {
	display: block;
	position: absolute;
	overflow: hidden;
	height: 120px;
	background: #1b1b1c;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	left: 15px;
	right: 15px;
	border-right-width: 20px;
	border-bottom-width: 20px;
	border-left-width: 20px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #202020;
	border-bottom-color: #202020;
	border-left-color: #202020;
}
.featured-projects .box:hover .info {
	display: block;
	position: absolute;
	height: 200px;
	text-align: center;
	margin-top: -80px;
	padding-top: 30px;
	border-right-width: 20px;
	border-bottom-width: 20px;
	border-left-width: 20px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-top-width: 0px;
	border-top-style: none;
}
.featured-projects .box .info {
	padding: 20px;
}
.featured-projects .box .info .caption {
	font-size: 22px;
	font-weight: 400;
	color: #fff;
	padding-top: 10px;
}
.featured-projects .box .info .category {
	padding-top: 10px;
	color: #9d9d9d;
	line-height: 0px;
}
.featured-projects .box .info .buttons {
	margin-top: 50px;
}
.projects-carousel.owl-carousel {
	margin-top: 50px;
	padding-top: 50px;
}
.projects-carousel.owl-theme .owl-controls {
	text-align: center;
	position: absolute;
	top: -30px;
	left: 0;
	right: 0;
}
/* ------------------------------------------- FEATURED PROJECTS ENDS ---------- */

/* ------------------------------------------- FUNFACTS STARTS ---------- */


.funfacts .intro {
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.funfacts .intro h3 {
	font-size: 30px;
	font-weight: 400;
}
.funfacts .intro h1 {
	font-size: 70px;
	font-weight: 700;
	margin-top: 0px;
}
.funfacts .intro .description {
	font-size: 16px;
	font-weight: 400;
}
.funfacts .box {
	border: 1px solid #303030;
	background-color: #1b1b1c;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;
}
.funfacts .box .count {
	color: #fff;
	font-size: 90px;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 30px;
}
.funfacts .box .caption {
	font-size: 18px;
	font-weight: 400;
}
/* ------------------------------------------- FUNFACTS ENDS ---------- */

/* ------------------------------------------- TEAM STARTS ---------- */
.team {
	padding-top: 100px;
	text-align: center;
}
.team .picture {
	padding-top: 50px;
}
.team .members {
	padding-top: 80px;
}
.team h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
}
.team h1 {
	font-size: 60px;
	font-weight: 700;
	padding-top: 10px;
	color: #999;
}
.col-8 {
	width: 12.5%;
}
.team .member .info {
	display: block;
	position: absolute;
	overflow: hidden;
	color: #fff;
	background: rgba(223,67,34,0.8);
	text-align: left!important;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	height: 0px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	line-height: 20px;
}
.team .member:hover .info {
	display: block;
	position: absolute;
	height: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-top: -90px;
}
.team .member .info .name {
	font-size: 16px;
}
.team .member .info .designation {
	font-size: 14px;
}
.team .member .info .icons {
	font-size: 18px;
	padding-top: 4px;
}
.team .member .info .icons a {
	color: #fff;
}
.team .member .info .icons i:hover {
	opacity: 0.8;
}
.team-icons {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 60px;
}
.team-icons h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
}
.team-icons h1 {
	font-size: 60px;
	font-weight: 700;
	padding-top: 10px;
	color: #fff;
}
.team-icons .block {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}
.team-icons .block .icon {
	width: 130px;
	height: 130px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	text-align: center;
	color: #43b572;
	line-height: 130px;
	font-size: 50px;
	background-color: #fff;
}
.team-icons .block h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin-top: 20px;
}
.team-icons .block .description {
	font-size: 14px;
}
/* ------------------------------------------- TEAM ENDS ---------- */


.services .grey-bg {
	padding-top: 80px;
	padding-bottom: 90px;
}
.services h2 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
}
.services .herotext {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
}
.services h1 {
	font-size: 70px;
	font-weight: 700;
	text-align: left;
	color: #fff;
}
.services h3 {
	font-size: 30px;
	font-weight: 400;
	text-align: left;
	line-height: 0;
	color: #df4322!important;
}
.services .description {
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	padding-top: 10px;
}
.services-tabs {
	padding-top: 100px;
	padding-bottom: 80px;
}
.services-tabs .tab-content {
	padding-top: 0px;
	padding-bottom: 80px;
}
.services-tabs ul {
	padding-bottom: 50px;
}
.services-tabs ul li {
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #303030;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
	position: relative;
}
.services-tabs ul li .point {
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 20px solid #9b2920;
	position: absolute;
	left: -20px;
	top: 50%;
	margin-top: -8px;
	display: none;
}
.services-tabs ul li:hover .point {
	display: block;
}
.services-tabs ul li.active .point {
	display: block;
}
.services-tabs ul li a {
	background: none;
	padding: 0px!important;
	margin: 0px!important;
	color: #000;
}
.services-tabs ul li a:hover, .services-tabs ul li:hover a {
	color: #fff;
}
.services-tabs ul li:last-child {
	border: none;
}
.services-tabs ul li.active {
	color: #fff;
	background: #9b2920; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliMjkyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2VjNTAyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2Y1YTIxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNjk0MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9b2920), color-stop(30%, #ec5022), color-stop(70%, #f5a21f), color-stop(100%, #f69420)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* IE10+ */
	background: linear-gradient(to right, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b2920', endColorstr='#f69420', GradientType=1 ); /* IE6-8 */
}
.services-tabs ul li.active h3, .services-tabs ul li:hover h3 {
	color: #fff!important;
}
.services-tabs ul li.active .icon, .services-tabs ul li:hover .icon {
	color: #43b573;
	background-color: #fff;
}
.services-tabs ul li:hover {
	cursor: pointer;
	color: #fff;
	background: #9b2920; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliMjkyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2VjNTAyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2Y1YTIxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNjk0MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9b2920), color-stop(30%, #ec5022), color-stop(70%, #f5a21f), color-stop(100%, #f69420)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* IE10+ */
	background: linear-gradient(to right, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b2920', endColorstr='#f69420', GradientType=1 ); /* IE6-8 */
}
.services-tabs ul li .icon {
	background-color: #f4f4f4;
	color: #43b573;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	font-size: 50px;
	text-align: center;
	padding-top: 16px;
	float: left;
	margin-top: -12px;
	line-height: 70px;
}
.services-tabs ul li .info {
	margin-left: 120px!important;
}
.services-tabs ul li h3 {
	font-size: 18px;
	color: #000;
	margin-top: 30px;
}
.services-tabs ul li .description {
	font-size: 14px;
	padding-top: 10px;
	float: left;
	color: #fff;
}
/* ------------------------------------------- PORTFOLIO STARTS ---------- */

#portfolio .grey-bg {
	padding-top: 80px;
	padding-bottom: 90px;
}
#portfolio .header {
	padding-top: 60px;
	padding-bottom: 60px;
}
#portfolio h2 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
}
#portfolio .herotext {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
}
#portfolio h1 {
	font-size: 70px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #fff;
}
#portfolio h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: left;
	line-height: 0;
}
#options ul {
	width: auto;
	text-align: right;
	margin: 0px;
	padding: 0px;
	padding-top: 85px;
}
#options ul li {
	display: inline-block
}
#options ul li a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	padding-left: 6px;
	padding-right: 6px;
	display: inline-block;
	text-align: center;
	color: #929292;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#options ul li:after {
	content: "/"
}
#options ul li:last-child:after {
	content: ""
}
#options ul li a:link {
	color: #929292!important;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#options ul li:hover a, #options ul li a.selected {
	color: #df4322!important;
}
#portfolio ul li {
	list-style-type: none;
}
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
#portfolio .buttons {
	padding: 0px;
	margin-top: 70px;
	margin-right: auto;
	padding-bottom: 0px;
	margin-left: auto;
	text-align: center;
}
#portfolio .buttons a {
	font-size: 16px;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#portfolio-mansory figure {
	float: left;
	width: 30%;
	height: auto!important;
	margin-bottom: 1px;
	margin-left: 1px;
	overflow: hidden;
}
#portfolio-mansory figure img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#portfolio-mansory figure.item {
	margin-bottom: 1px!important;
	text-align: center;
}
#portfolio-mansory figure .info {
	padding-top: 20px;
	padding-bottom: 60px;
}
#portfolio-mansory figure .info .caption {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}
#portfolio-mansory figure .info .description {
	padding-top: 10px;
	color: #9d9d9d;
	line-height: 0px;
}
#portfolio-mansory .item-w2 {
	width: 60%
}
#portfolio-mansory .item-h2 {
	height: auto!important
}
#portfolio-mansory .picture {
	background-color: #df4322;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
#portfolio-mansory .item:hover img {
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.picture-overlay {
	-webkit-backface-visibility: hidden;
	display: block;
	position: absolute!important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	text-align: left;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
}
.picture-overlay .icons {
	display: table;
	width: 100%;
	height: 100%;
}
.picture-overlay:hover {
	opacity: 1
}
.picture-overlay .icons>:first-child {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.picture-overlay .icons>:first-child .icon {
	display: inline-block!important;
	background-color: #fff;
	color: #df4322;
	width: 50px;
	height: 50px;
	margin: 4px;
	border-radius: 25px;
	text-align: center;
	-webkit-transition: all .1s ease-in-out 0s;
	-moz-transition: all .1s ease-in-out 0s;
	-ms-transition: all .1s ease-in-out 0s;
	-o-transition: all .1s ease-in-out 0s;
	transition: all .1s ease-in-out 0s;
	padding: 10px;
}
.picture-overlay .icons>:first-child .icon a {
	font-size: 20px;
	line-height: 32px;
	color: #df4322;
}
/* ---------------------------- portfolio option starts -------------------------- */
.container-fluid.portfolio-1 {
	padding-left: 0px;
	padding-right: 0px;
}
.portfolio-1 .intro {
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 110px;
	padding-bottom: 100px;
}
.portfolio-1 .intro h3 {
	font-size: 30px;
	font-weight: 400;
}
.portfolio-1 .intro h1 {
	font-size: 60px;
	font-weight: 700;
	margin-top: 0px;
	padding-bottom: 20px;
}
.portfolio-1 .intro .detail {
	font-size: 16px;
	font-weight: 400;
}
.portfolio-1 .intro .detail .heading {
	padding-top: 10px;
	font-size: 18px;
	font-weight: 700;
}
.portfolio-1 .intro .detail .info {
	font-size: 16px;
	font-weight: 400;
}
.portfolio-1 .buttons {
	margin-top: 10px;
}
.portfolio-1 .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.portfolio-1 .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #43b572;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.portfolio-1 .buttons a.nofill i {
	padding-left: 8px;
}
.portfolio-1 .next-prev {
	vertical-align: baseline;
}
.portfolio-1 .next-prev .col-lg-6 {
	background-color: #df4322;
	text-align: center!important;
}
.portfolio-1 .next-prev .col-lg-6 a {
	line-height: 50px;
	color: #fff;
	font-size: 30px;
	text-align: center!important;
}
/* ---------------------------- portfolio option starts -------------------------- */
/* ---------------------------- Detail Page -------------------------- */
#portfolio .intro {
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 110px;
	padding-bottom: 100px;
}
#portfolio .intro h3 {
	font-size: 30px;
	font-weight: 400;
}
#portfolio .intro h1 {
	font-size: 70px;
	font-weight: 700;
	margin-top: 0px;
	padding-bottom: 20px;
}
#portfolio .intro .detail {
	font-size: 16px;
	font-weight: 400;
}
#portfolio .intro .detail .heading {
	padding-top: 30px;
	font-size: 18px;
	font-weight: 700;
}
#portfolio .intro .detail .info {
	font-size: 16px;
	font-weight: 400;
}
#portfolio .buttons {
	margin-top: 30px;
}
#portfolio .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#portfolio .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #43b572;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#portfolio .buttons a.nofill i {
	padding-left: 8px;
}
#portfolio .next-prev {
	vertical-align: baseline;
}
#portfolio .next-prev .col-lg-6 {
	background-color: #df4322;
	text-align: center!important;
}
#portfolio .next-prev .col-lg-6 a {
	line-height: 50px;
	color: #fff;
	font-size: 30px;
	text-align: center!important;
}
/* ------------------------------------------- PORTFOLIO ENDS ---------- */



/* ------------------------------------------- RESPONSIVE DESIGN STARTS ---------- */


.responsive-design {
	padding-top: 100px;
	padding-bottom: 100px;
}
.responsive-design h3 {
	font-size: 26px;
	font-weight: 400;
	color: #df4322;
}
.responsive-design .description {
	font-size: 14px;
	padding-top: 20px;
}
.responsive-design .buttons {
	padding-top: 50px;
}
/* ------------------------------------------- RESPONSIVE DESIGN ENDS ---------- */

/* ------------------------------------------- HIGH QUALITY STARTS ---------- */
.high-quality {
	padding-top: 100px;
	padding-bottom: 100px;
}
.high-quality .info {
	text-align: right;
}
.high-quality .info h3 {
	font-size: 26px;
	font-weight: 400;
	color: #df4322;
}
.high-quality .info .description {
	font-size: 14px;
	padding-top: 20px;
}
.high-quality .info .buttons {
	padding-top: 50px;
}
/* ------------------------------------------- HIGH QUALITY ENDS ---------- */

/* ------------------------------------------- TESTIMONIALS STARTS ---------- */
.testimonials {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.testimonial-carousel {
	padding-top: 24px;
}
.testimonials h3 {
	font-size: 26px;
	font-weight: 400;
	color: #df4322;
}
.testimonials .description {
	font-size: 30px;
	font-weight: 700;
	padding-top: 20px;
	line-height: 40px;
}
.testimonials .icon1 {
	font-size: 40px;
	padding-top: 10px;
}
.testimonials .icon2 {
	font-size: 40px;
	padding-top: 20px;
}
.testimonials .name {
	font-size: 14px;
	color: #b1b1b1;
	padding-top: 12px;
}
.testimonial-carousel.owl-theme .owl-controls .owl-page {
	padding-top: 30px!important;
}
/* ------------------------------------------- TESTIMONIALS ENDS ---------- */

/* ------------------------------------------- CLIENTS STARTS ---------- */

.clients {
	padding-bottom: 120px;
}
.clients .col-lg-3 {
	border: 1px solid #303030;
}
.clients .col-lg-3 img {
	padding-top: 20px;
	padding-bottom: 20px;
}
/* ------------------------------------------- CLIENTS ENDS ---------- */


/* ------------------------------------------- BLOG STARTS ---------- */

.blog {
	padding-top: 100px;
}
.blog h2 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
}
.blog .herotext {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
.colored-text {
	color: #df4322;
}
.blog .post .image {
	position: relative;
	background-color: #df4322;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.blog .post .image:hover img {
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.blog .post .info {
	padding: 50px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #424243;
	border-left-color: #424243;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #424243;
}
.blog .post .info .meta {
	color: #c5c5c5;
}
.blog .post .info h1 {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
.blog .post .info .description {
	font-size: 16px;
	padding-top: 12px;
}
.blog .post .info .readmore {
	font-size: 16px;
	color: #df4322;
	padding-top: 20px;
}
.blog .post .info .readmore a {
	color: #df4322;
}
.blog .post .info .readmore a:hover {
	text-decoration: underline;
}
.blog-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 16%;
	left: 0;
}
.blog-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 16%;
	right: 0;
}
.blog-carousel.owl-theme .owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
 *display: inline;
	font-size: 28px;
	line-height: 1.1;
	padding-top: 25px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	width: 40px;
	height: 80px;
	color: #fff;
	text-align: center;
	background-color: #df4322;
}
/* ------------------------------------------- BLOG ENDS ---------- */


/* ------------------------------------------- WHAT WE DO BLOCK STARTS ---------- */

.plus-blocks {
	padding-top: 100px;
	padding-bottom: 100px;
}
.plus-blocks .text-block h1 {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}
.plus-blocks .text-block h3 {
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	line-height: 0;
}
.plus-blocks .text-block .description {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding-top: 10px;
}
.plus-blocks .text-block .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.plus-blocks .text-block .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #43b572;
}
/* ------------------------------------------- WHAT WE DO BLOCK ENDS ---------- */

/* ------------------------------------------- GET IN TOUCH STARTS ---------- */

.getintouch {
	padding-top: 40px;
	padding-bottom: 50px;
}
.getintouch h1 {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
.getintouch .description {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
.getintouch .buttons {
	margin-top: 10px;
}
.getintouch .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.getintouch .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #df4322;
}
/* ------------------------------------------- GET IN TOUCH ENDS ---------- */


/* ------------------------------------------- PRICES STARTS ---------- */


.prices {
}
.prices .grey-bg {
	padding-top: 80px;
	padding-bottom: 90px;
	margin-bottom: 75px;
}
.prices h2 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
}
.prices .herotext {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
}
.prices .price-block {
	padding-bottom: 100px;
}
.prices .price-block .info .package {
	font-size: 22px;
	text-align: right;
	text-transform: uppercase;
	color: #df4322;
}
.prices .price-block .info .price {
	font-size: 90px;
	text-align: right;
	line-height: 75px;
	color: #fff;
}
.prices .price-block .info .price .c-sign {
	font-size: 30px;
	line-height: 30px;
}
.prices .price-block .info .duration {
	font-size: 14px;
	text-align: right;
	line-height: 30px;
	color: #df4322;
}
.prices .price-block .details .description {
	font-size: 16px;
	color: #fff;
}
.prices .price-block .details ul.features {
	margin: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
}
.prices .price-block .details ul.features li {
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
}
/* ------------------------------------------- PRICES ENDS ---------- */

/* ------------------------------------------- SHARE ON STARTS ---------- */

footer.grey-bg {
	padding-top: 100px;
	padding-bottom: 100px;
}
.shareon {
	padding-bottom: 80px;
}
.shareon h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
	padding-bottom: 10px;
}
.shareon .buttons {
	text-align: center;
}
.shareon .buttons a i {
	padding-right: 10px;
}
.shareon .buttons a.facebook {
	font-size: 16px;
	background-color: #3c5a9b;
	border-radius: 40px;
	border: 2px solid #3c5a9b;
	color: #fff;
	padding-top: 16px;
	padding-right: 40px;
	padding-bottom: 16px;
	padding-left: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.shareon .buttons a.facebook:hover {
	background-color: transparent;
	color: #3c5a9b;
	text-decoration: none;
}
.shareon .buttons a.twitter {
	font-size: 16px;
	background-color: #1eb0c9;
	border-radius: 40px;
	border: 2px solid #1eb0c9;
	color: #fff;
	padding-top: 16px;
	padding-right: 40px;
	padding-bottom: 16px;
	padding-left: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.shareon .buttons a.twitter:hover {
	background-color: transparent;
	color: #1eb0c9;
	text-decoration: none;
}
.shareon .buttons a.google-plus {
	font-size: 16px;
	background-color: #dd4b39;
	border-radius: 40px;
	border: 2px solid #dd4b39;
	color: #fff;
	padding-top: 16px;
	padding-right: 40px;
	padding-bottom: 16px;
	padding-left: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.shareon .buttons a.google-plus:hover {
	background-color: transparent;
	color: #dd4b39;
	text-decoration: none;
}
.letsmake {
	padding-bottom: 80px;
}
.letsmake h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 700;
	text-align: center;
	padding-bottom: 30px;
}
.letsmake .icon {
	height: 34px;
	width: 34px;
	border-radius: 17px;
	font-size: 18px;
	text-align: center;
	padding-top: 2px;
	color: #fff;
	background-color: #df4322;
	float: left;
	margin-right: 10px;
}
.letsmake h4 {
	font-size: 26px;
	font-weight: 700;
	text-align: left;
	line-height: 16px;
}
.letsmake h4 span {
	font-size: 26px;
	color: #fff;
}
.letsmake h4 a {
	color: #929292;
}
.letsmake h4 a:hover {
	color: #fff;
	text-decoration: none;
}
.address {
	text-align: center;
}
.address i {
	font-size: 50px;
	color: #b6b6b6;
	padding-bottom: 24px;
}
.address h3 {
	font-size: 22px;
	font-weight: 400;
	line-height: 30px;
}
.address .links {
	margin-top: 40px;
}
.address .links a {
	margin-left: 8px;
	margin-right: 8px;
	color: #929292;
	font-size: 20px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	text-decoration: none;
}
.address .links a:hover {
	color: #fff;
	border-bottom-color: #fff;
	text-decoration: none;
}
.address .links a:active {
	border-bottom-color: #fff;
	text-decoration: none;
}
.google-map {
	margin-top: 50px;
	background: #151515;
}
#map-canvas {
	display: none;
	height: 550px;
	background-color: #151515 !important;
}
.gm-style-cc {
	display: none !important;
}
.gm-style-iw div {
	color: #151515;
}
.white-popup-block {
	background: #FFF;
	padding: 20px 30px;
	text-align: left;
	max-width: 650px;
	margin: 40px auto;
	position: relative;
}
.contact-form {
	padding-top: 30px;
}
.contact-form input, .contact-form textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
.contact-form textarea {
	margin-bottom: 5px;
}
.contact-form .buttons {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}
#message_post {
	text-align: center;
	padding-bottom: 20px;
}
.errorMessage {
	text-align: center;
	color: #ff0000;
}
.successMessage {
	text-align: center;
	color: #12d62d;
}
.contact-form .btn {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #1ca55f;
	color: #1ca55f;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.contact-form .btn:hover {
	background-color: #1ca55f;
	border: 2px solid #1ca55f;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* ------------------------------------------- SHARE ON ENDS ---------- */

/* ----------------------------------------------------------------------------- TOTOP STARTS ------------------ */

.scrollup {
	width: 35px;
	height: 35px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: none;
	text-indent: -9999px;
	background-color: #df4322;
	background-image: url(../images/icons/to-top/to-top.png);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 999997;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.scrollup:hover {
	opacity: 0.9;
}
/* ----------------------------------------------------------------------------- TOTOP ENDS ------------------ */

/* ------------------------------------------- BUTTONS STARTS ---------- */

.buttons {
	padding-top: 40px;
}
.buttons a.fill {
	font-size: 16px;
	background-color: #df4322;
	border-radius: 40px;
	border: 2px solid #df4322;
	color: #fff;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.buttons a.fill:hover {
	background-color: transparent;
	color: #df4322;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #df4322;
	color: #df4322;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.buttons a.nofill:hover {
	background-color: #df4322;
	border: 2px solid #df4322;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.buttons a:first-child {
	margin-right: 10px;
}
/* ------------------------------------------- BUTTONS ENDS ---------- */


/* ------------------------------------------- BG STARTS ---------- */

.white-bg {
	background-color: #fff;
}
.light-grey-bg {
	background-color: #f4f4f4;
}
.grey-bg {
	background-color: #282828;
}
.green-bg {
	background-color: #43b572;
	background: -webkit-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, rgba(173,206,57,1), rgba(67,181,151,1)); /* Standard syntax (must be last) */
}
.green-bg-2 {
	background-color: #43b572;
	background: -webkit-linear-gradient(top, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, rgba(173,206,57,1), rgba(67,181,151,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top, rgba(173,206,57,1), rgba(67,181,151,1)); /* Standard syntax (must be last) */
}
.orange-bg {
	background: #9b2920; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliMjkyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2VjNTAyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2Y1YTIxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNjk0MjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9b2920), color-stop(30%, #ec5022), color-stop(70%, #f5a21f), color-stop(100%, #f69420)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* IE10+ */
	background: linear-gradient(to right, #9b2920 0%, #ec5022 30%, #f5a21f 70%, #f69420 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b2920', endColorstr='#f69420', GradientType=1 ); /* IE6-8 */
}
/* ------------------------------------------- BG ENDS ---------- */

/* ------------------------------------------- NO GUTTER STARTS ---------- */

.no-gutter-12 [class*="-12"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-10 [class*="-10"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-7 [class*="-7"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-6 [class*="-6"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-5 [class*="-5"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-4 [class*="-4"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-3 [class*="-3"] {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-2 [class*="-2"] {
	padding-left: 0;
	padding-right: 0;
}
/* ------------------------------------------- NO GUTTER ENDS ---------- */


/* ------------------------------------------- PARALLAX STARTS ---------- */

.parallax-1 {
	background-attachment: fixed;
	background-image: url(../images/parallax/1.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
}
.parallax-2 {
	background-attachment: fixed;
	background-image: url(../images/parallax/2.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
}
.parallax-3 {
	background-attachment: fixed;
	background-image: url(../images/parallax/3.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
}
.parallax-map {
	background-attachment: fixed;
	background-image: url(../images/parallax/map.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
}
.parallax-contact {
	background-attachment: fixed;
	background-image: url(../images/parallax/contact.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
}
/* -- PARALLAX INNER PAGES STARTS -- */
.parallax-inner .container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 30%;
	margin: auto;
}
.parallax-inner h1 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 90px;
}
.parallax-inner .description {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding-left: 50px;
	padding-right: 50px;
}
.parallax-inner.page-01 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/1.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-02 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/2.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-03 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/3.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-04 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/4.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-05 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/5.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-06 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/6.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-07 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/7.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-08 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/8.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-09 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/9.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-10 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/10.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-11 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/11.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-12 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/12.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-13 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/13.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-14 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/14.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-15 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/15.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-16 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/16.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-17 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/17.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-18 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/18.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
.parallax-inner.page-19 {
	background-attachment: fixed;
	background-image: url(../images/parallax/inner/19.jpg);
	background-repeat: repeat-y;
	background-position: 50% 0;
	background-size: cover;
	min-height: 750px;
	position: relative;
	text-align: center;
}
/* -- PARALLAX INNER PAGES STARTS -- */

/* ------------------------------------------- PARALLAX ENDS ---------- */

/* ----------------------------------------------------------------------------- INNER PAGES STARTS ----------------------------------- */

/* ------------------------------------------- COMING SOON PAGE STARTS ---------- */

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
#counter {
	width: 60%;
	color: #fff;
	text-align: center;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#counter span {
	font: 100px/1em 'Montserrat', sans-serif;
	display: block;
	min-width: 25%;
	float: left;
	padding-top: 12px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	font-weight: 400;
}
#counter span em {
	font: 20px/18px 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
	color: #fff;
}
/* ------------------------------------------- COMING SOON PAGE ENDS ---------- */


/* ------------------------------------------- ABOUT PAGE STARTS ---------- */


.about-page .intro {
	padding-top: 80px;
	padding-bottom: 70px;
	text-align: center!important;
}
.about-page .intro h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
}
.about-page .intro h1 {
	font-size: 60px;
	font-weight: 700;
}
.about-page .intro .description {
	font-size: 16px;
	font-weight: 400;
	padding-top: 30px;
}
.about-page .intro .signature {
	width: 100%;
	padding-bottom: 50px;
	padding-top: 50px;
	position: relative;
}
.about-page .intro .signature img {
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	top: 40px;
}
.about-page .intro .signature .line {
	height: 1px;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 90px;
	z-index: 99;
	background-image: none;
	background-repeat: repeat-x;
	background-color: #e5e5e5;
}
.about-page .detail {
	padding-top: 10px;
	padding-bottom: 80px;
}
.about-page .detail h1 {
	font-size: 60px;
	font-weight: 700;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 20px;
}
.about-page .detail .description {
	font-size: 16px;
	font-weight: 400;
}
.about-page .team {
	padding-top: 16px;
}
.journey {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}
.journey h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
}
.journey .journey-tabs .tab-content {
	padding-top: 0px;
	margin-top: 0px;
}
.journey .journey-tabs .tab-content .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #b6b6b6;
	font-size: 14px!important;
	cursor: default;
	border: none;
	background-color: transparent;
	text-align: center;
}
.journey .journey-tabs h1 {
	font-size: 80px;
	font-weight: 700;
}
.journey .journey-tabs .description {
	font-size: 16px;
	font-weight: 400;
	padding-top: 30px;
	padding-bottom: 50px;
}
.intro-2 {
	padding-top: 90px;
	padding-bottom: 30px;
}
.intro-2 h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.intro-2 h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 20px;
	margin-top: 0px;
	color: #fff;
	line-height:50px;
}
.intro-2 .description {
	font-size: 16px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 30px;
	line-height: 30px;
}

.intro-2 .icons {
	padding-top:30px;	
}
.intro-2 .icons .icon {
	font-size: 60px;
	color: #df4322;
}
.intro-2 .icons h1 {
	font-size: 20px;
	font-weight: 500;
	line-height:24px!important;
}
.intro-2 .icons .description {
	font-size: 14px;
	font-weight: 400;
	padding-top: 0px;
	padding-bottom:30px;
}
.about-team-02 {
	padding-top: 50px;
	padding-bottom: 80px;
}
.about-team-02 h1 {
	font-size: 30px;
	color: #df4322;
	padding-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
}
.about-team-02 .block {
	padding-top: 20px;
	padding-bottom: 20px;
}
.about-team-02 .info {
	padding-top: 20px;
}
.about-team-02 .block .name {
	font-size: 22px;
	color: #df4322;
	font-weight: 700;
}
.about-team-02 .block .description {
	font-size: 14px;
	padding-top: 8px;
	line-height: 24px;
}
.about-team-02 .block .link {
	padding-top: 20px;
}
.about-team-02 .block .link a {
	color: #f65902;
	font-size: 16px;
}
.about-team-02 .block .s-icons {
	padding-top: 20px;
}
.about-team-02 .block .s-icons ul {
	padding: 0px;
	margin: 0px;
}
.about-team-02 .block .s-icons ul li {
	list-style-type: none;
	display: inline-block;
	color: #fff;
}
.about-team-02 .block .s-icons ul li a {
	font-size: 20px;
	padding-right: 10px;
	padding-left: 4px;
}
.about-team-02 .block .s-icons ul li a {
	color: #fff;
}
.about-team-02 .block .s-icons ul li a:hover {
	color: #df4322;
}
/* ------------------------------------------- ABOUT PAGE ENDS ---------- */

/* ------------------------------------------- SERVICES PAGE STARTS ---------- */
.main-services-tabs .nav>li>a {
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 0px;
	padding-right: 0px;
	color: #fff;
}
.main-services-tabs .nav>li>a .icon {
	font-size: 30px;
}
.main-services-tabs .nav>li>a .caption {
	font-size: 16px;
	padding-top: 10px;
}
.main-services-tabs .nav-pills>li>a:hover {
	color: #fff;
	background-color: #df4322
}
.main-services-tabs .tab-content {
	padding-top: 90px;
	padding-bottom: 50px;
}
.main-services-tabs .tab-content h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.main-services-tabs .tab-content h1 {
	font-size: 70px;
	font-weight: 700;
	padding-top: 0px;
	margin-top: 0px;
	color: #fff;
}
.main-services-tabs .tab-content .description {
	font-size: 14px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 30px;
	line-height: 30px;
}
.vertical-tabs {
	padding-top: 60px;
	padding-bottom: 60px;
}
.vertical-tabs .nav-stacked li {
	clear: left;
}
.vertical-tabs .nav-stacked>li>a {
	margin-right: 0px;
	line-height: 74px;
	border: none;
	border-radius: 0;
	font-size: 16px;
	color: #fff;
}
.vertical-tabs .nav-stacked>li>a:hover {
	border-color: #eee #eee #ddd
}
.vertical-tabs .nav-stacked>li:hover>a, .vertical-tabs .nav-stacked>li.active>a, .vertical-tabs .nav-stacked>li.active>a:focus, .vertical-tabs .nav-stacked>li.active>a:hover {
	color: #c83c1f;
	background-color: transparent!important;
	border: none;
	border-bottom-color: transparent
}
.vertical-tabs .nav-stacked>li.active>a .icon, .vertical-tabs .nav-stacked>li:hover>a .icon {
	background-color: #df4322;
	color: #fff;
}
.vertical-tabs .nav-stacked li .icon {
	height: 70px;
	width: 70px;
	border-radius: 35px;
	background-color: #ededed;
	float: left;
	margin-right: 16px;
	font-size: 20px;
	text-align: center;
	color: #df4322;
}
.vertical-tabs .col-lg-5:first-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #303030;
}
.vertical-tabs .tab-content {
	padding-left: 30px;
}
.vertical-tabs .tab-content h3 {
	font-size: 24px;
	color: #df4322;
}
.skills {
	padding-top: 60px;
	padding-bottom: 60px;
}
.skills h3 {
	font-size: 30px;
	color: #df4322;
}
.skills ul {
	padding: 0px;
	margin: 0px
}
.skills ul li {
	list-style-type: none;
	padding: 0px;
	margin: 0px
}
.skills ul li h3 {
	font-size: 16px;
	color: #fff;
	padding-top: 10px;
	margin-top: 0px;
}
.iconic-services {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.iconic-services .row {
	padding-top: 30px;
}
.iconic-services .icon {
	font-size: 50px;
	color: #43b572;
	margin-bottom: 30px;
}
.iconic-services h1 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
}
.iconic-services h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	padding-bottom: 50px;
}
.iconic-services .description {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 50px;
}
.services-02-intro {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 20px;
}
.services-02-intro h3 {
	font-size: 30px;
	font-weight: 400;
	color: #df4322;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.services-02-intro h1 {
	font-size: 70px;
	font-weight: 700;
	padding-top: 0px;
	margin-top: 0px;
	color: #fff;
}
.services-02-intro .description {
	font-size: 14px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 30px;
	line-height: 30px;
}
.services-02-intro .picture {
	padding-top: 50px;
}
.services-pictures {
	text-align: left;
}
.services-pictures h1 {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}
.services-pictures .image {
	padding-bottom: 20px;
	padding-top: 40px;
}
.services-pictures .caption {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
.services-pictures .date {
	font-size: 16px;
	line-height: 8px;
}
.services-pictures .description {
	font-size: 14px;
	padding-top: 20px;
}
/* ------------------------------------------- SERVICES PAGE ENDS ---------- */

/* ------------------------------------------- PROJECT PAGE STARTS ---------- */

.project-page .project-intro {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}
.project-page .project-intro h1 {
	font-size: 40px;
	color: #df4322;
	font-weight: 700;
	text-transform: uppercase;
}
.project-page .project-intro .description {
	font-size: 26px;
	font-weight: 400;
	padding-top: 30px;
	line-height: 40px;
}
.project-page .icons .liner {
	height: 1px;
	position: absolute;
	width: 80%;
	z-index: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 20px;
	z-index: 1;
	background-image: none;
	background-repeat: repeat-x;
	background-color: #CCC;
}
.project-page .icons {
	padding-top: 10px;
	padding-bottom: 80px;
	text-align: center;
}
.project-page .icons .icon {
	font-size: 40px;
	color: #df4322;
}
.project-page .icons .caption {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 10px;
}
.project-page .project-details {
	padding-top: 90px;
	padding-bottom: 90px;
}
.project-page .project-details h2 {
	font-size: 18px;
	color: #df4322;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0px;
	padding-top: 0px;
}
.project-page .project-details .description {
	font-size: 14px;
	font-weight: 400;
}
ul.project-info {
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
}
ul.project-info li {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #303030;
	list-style-type: none;
}
ul.project-info li a {
	color: #fff;
}
ul.project-info li a:hover {
	color: #df4322;
	text-decoration: none;
}
ul.project-info li:last-child {
	border: none;
}
ul.project-info li .caption {
	color: #df4322;
	text-transform: uppercase;
	display: inline-block;
	width: 100px;
}
ul.project-info li .detail {
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
}
.project-page .project-details .buttons {
	padding-top: 60px;
}
.project-page .project-details .buttons a.fill {
	font-size: 14px;
	background-color: #df4322;
	border-radius: 0px;
	border: 2px solid #df4322;
	color: #fff;
	padding-top: 14px;
	padding-right: 40px;
	padding-bottom: 14px;
	padding-left: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.project-page .project-details .buttons a.fill:hover {
	background-color: transparent;
	color: #df4322;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.related-projects {
	text-align: center;
}
.related-projects h1 {
	font-size: 30px;
	color: #df4322;
	font-weight: 700;
	text-transform: uppercase;
}
.related-projects .image {
	padding-bottom: 20px;
	padding-top: 40px;
}
.related-projects .caption {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
.related-projects .date {
	font-size: 16px;
	line-height: 8px;
}
/* ------------------------------------------- PROJECT PAGE STARTS ---------- */


/* ------------------------------------------- FEATURED PROJECT PAGE STARTS ---------- */

#featured-project-page .intro {
	padding-top: 0px;
	padding-bottom: 40px;
}
#featured-project-page h2 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
}
#featured-project-page .herotext {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
}
#featured-project-page h1 {
	font-size: 70px;
	font-weight: 700;
	text-align: left;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#featured-project-page h3 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: left;
	line-height: 0;
}
#featured-project-page #options ul {
	width: auto;
	text-align: right;
	margin: 0px;
	padding: 0px;
	padding-top: 200px;
}
#options ul li {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
}
#options ul li a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	padding-left: 6px;
	padding-right: 6px;
	display: inline-block;
	text-align: center;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#options ul li:after {
	content: "/"
}
#options ul li:first-child:after {
	content: ""
}
#options ul li:last-child:after {
	content: ""
}
#options ul li a:link {
	color: #000000;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#options ul li:hover a, #options ul li a.selected {
	color: #df4322;
}
#featured-project-page ul li {
	list-style-type: none;
}
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.featured-projects .box {
	border: 20px solid #202020;
	background-color: #202020;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 0px;
	margin-bottom: 150px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#featured-project-page .buttons {
	padding: 0px;
	margin-top: 45px;
	margin-right: auto;
	padding-bottom: 0px;
	margin-left: auto;
	text-align: center;
}
#featured-project-page .buttons a {
	font-size: 16px;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.featured-projects .grey-bg {
	padding-top: 50px;
	padding-bottom: 0px;
}
.featured-projects #portfolio-mansory figure {
	float: left;
	width: 30%;
	height: auto!important;
	margin-bottom: 1px;
	margin-left: 1px;
	overflow: hidden;
}
.featured-projects #portfolio-mansory figure img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.featured-projects #portfolio-mansory figure.item {
	margin-bottom: 1px!important;
	text-align: center;
}
.featured-projects #portfolio-mansory .item-w2 {
	width: 60%
}
.featured-projects #portfolio-mansory .item-h2 {
	height: auto!important
}
.featured-projects #portfolio-mansory .picture {
	background-color: none!important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.featured-projects #portfolio-mansory .item:hover img {
	opacity: 0.7;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.quote {
	padding-top: 100px;
	padding-bottom: 100px;
}
.quote .description {
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	line-height: normal;
	color: #fff;
}
/* ------------------------------------------- FEATURED PROJECT PAGE ENDS ---------- */






/* ------------------------------------------- BLOG PAGE STARTS ---------- */


.blog-page h2 {
	font-size: 30px;
	color: #df4322;
	font-weight: 400;
	text-align: center;
}
.blog-page .herotext {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}
.blog-page .post .colored-text {
	color: #df4322;
}
.blog-page .post .image {
	position: relative;
	background-color: #df4322;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.blog-page .post .image:hover img {
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.blog-page .post .info {
	padding: 50px;
}
.blog-page .post .info .meta {
	color: #c5c5c5;
}
.blog-page .post .info h1 {
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}
.blog-page .post .info .description {
	font-size: 14px;
	padding-top: 12px;
}
.blog-page .post .info .readmore {
	font-size: 16px;
	color: #df4322;
	padding-top: 20px;
}
.blog-page .post .info .readmore a {
	color: #df4322;
}
.blog-page .post .info .readmore a:hover {
	text-decoration: underline;
}
.blog-comments {
	margin-top: 50px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.media-list {
	margin-top: 20px;
}
.blog-comments h1 {
	font-size: 20px;
	color: #df4322;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #303030;
}
.blog-comments h1 i {
	font-size: 30px;
	color: #e04b2c;
	padding-right: 10px;
}
.media, .media .media {
	margin-top: 30px
}
.media:first-child {
	margin-top: 15px;
}
.media-object {
	margin-right: 20px;
	margin-bottom: 20px;
}
.blog-comments .media-heading {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	padding: 0px;
	margin: 0px;
}
.blog-comments .date {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding: 0px;
	margin: 0px;
}
.leave-a-reply {
	margin-top: 50px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}
.leave-a-reply h1 {
	color: #df4322;
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #303030;
}
.leave-a-reply h1 i {
	font-size: 30px;
	color: #e04b2c;
	padding-right: 10px;
}
.blog-form {
	padding-top: 30px;
}
.blog-form input, .blog-form textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: #1b1b1c;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #303030;
}
.blog-form textarea {
	margin-bottom: 5px;
}
.blog-form .buttons {
	padding-top: 20px;
	padding-bottom: 30px;
}
blockquote {
	font-size: 20px!important;
	border-left: none;
	text-align: center;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
blockquote .icon {
	font-size: 40px!important;
	color: #e04b2c;
	padding-top: 10px;
}
blockquote .description {
	font-size: 20px!important;
	font-weight: 700;
	padding-top: 20px;
	line-height: 30px;
	color: #fff;
}
blockquote .name {
	font-size: 14px!important;
	color: #fff;
	padding-top: 12px;
}
.related-posts {
	padding-top: 20px;
}
.related-posts h1 {
	font-size: 20px;
	font-weight: 400;
	color: #df4322;
}
.related-posts .post {
	padding-top: 10px;
	padding-bottom: 30px;
}
.related-posts .post .image {
	position: relative;
	background-color: #df4322;
	margin-bottom: 6px;
}
.related-posts .post .image:hover img {
	opacity: 0.2;
}
.related-posts .post .date {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.related-posts .post h3 {
	font-size: 18px;
	font-weight: 400;
	padding-top: 2px;
	margin-top: 2px;
}
/* ------------------------------------------- BLOG PAGE ENDS ---------- */

/* ------------------------------------------- TYPOGRAPHY PAGE STARTS ---------- */
.shortcodes {
	padding-top: 100px;
	padding-bottom: 100px;
}
.shortcodes h1.heading {
	font-size: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #fff!important;
}
.shortcodes h1.heading2 {
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: left;
	color: #fff!important;
}
.shortcodes .main-services-tabs {
	padding-top: 50px;
}
.shortcodes .vertical-tabs {
	padding-top: 50px;
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
}
.panel-default {
	border-color: transparent;
}
.panel {
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0px;
}
.panel-default>.panel-heading {
	color: #fff;
	background-color: transparent;
	border-color: transparent;
}
.panel-group .panel-heading {
	border-bottom: 0;
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}
.panel-title>a {
	color: #fff;
	font-size: 16px;
	text-decoration: none!important;
}
.panel-title>a:hover {
	color: #ccc;
	text-decoration: none!important;
}
.panel-title>a[aria-expanded=true]:before {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
	content: "\f107";
	font-size: 22px;
	padding-right: 8px;
}
.panel-title>a[aria-expanded=false]:before {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
	content: "\f105";
	font-size: 22px;
	padding-right: 8px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: none;
}
.panel-body {
	padding: 15px;
}
.work-process-tabs {
	padding-top: 80px;
	padding-bottom: 60px;
}
.work-process-tabs h1 {
	font-size: 40px;
	color: #1ca55f;
	text-align: center;
	padding-bottom: 40px;
}
.work-process-tabs .nav-justified>li {
	text-align: center;
}
.work-process-tabs .nav-justified>li>a {
	line-height: 74px;
	border: none;
	border-radius: 0;
	font-size: 22px;
	color: #fff;
	text-align: center!important;
	margin-left: auto!important;
	margin-right: auto!important;
}
.work-process-tabs .nav-justified>li>a:hover {
	border-color: #eee #eee #ddd
}
.work-process-tabs .nav-justified>li:hover>a, .work-process-tabs .nav-justified>li.active>a, .work-process-tabs .nav-justified>li.active>a:focus, .work-process-tabs .nav-justified>li.active>a:hover {
	color: #1ca55f;
	background-color: transparent!important;
	border: none;
	border-bottom-color: transparent;
	text-decoration: none;
}
.work-process-tabs .nav-justified>li.active>a .icon, .work-process-tabs .nav-justified>li:hover>a .icon {
	background-color: #1ca55f;
	color: #fff;
	text-decoration: none;
}
.work-process-tabs .nav-justified li .icon {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #ededed;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	padding-top: 16px;
	text-align: center;
	color: #1ca55f;
}
.work-process-tabs .col-lg-5:first-child {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ededed;
}
.work-process-tabs .tab-content {
	text-align: center;
}
.work-process-tabs .tab-content h3 {
	font-size: 26px;
	padding-bottom: 10px;
}
/* ------------------------------------------- TYPOGRAPHY PAGE ENDS ---------- */

/* ------------------------------------------- CONTACT PAGE STARTS ---------- */

.map {
	background-attachment: fixed;
	background-image: url(../images/parallax/map.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.two-blocks {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
}
.two-blocks .text-block h1 {
	font-size: 100px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.two-blocks .text-block h3 {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
.two-blocks .text-block .description {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	padding-top: 10px;
}
.two-blocks .text-block .description ul {
	padding: 0px;
	margin: 0px;
}
.two-blocks .text-block .description ul li {
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	list-style-type: none;
}
.two-blocks .text-block .description ul li:last-child {
	padding-top: 12px;
	font-size: 16px;
}
.two-blocks .text-block .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.two-blocks .text-block .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #43b572;
}
.contact-page .form {
	padding-top: 40px;
	padding-bottom: 60px;
}
.contact-page .form input, .contact-page .form textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: #1b1b1c;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #303030;
}
.contact-page .form textarea {
	margin-bottom: 5px;
}
.contact-page .form .buttons {
	text-align: center;
}

/* ------------------------------------------- CONTACT PAGE ENDS ---------- */



/* ----------------------------------------------------------------------------- INNER PAGES ENDS ----------------------------------- */


@media (min-width:992px) and (max-width:1199px) {
.top-contact {
	padding-right: 15px;
}
.nav>li>a {
	padding-left: 8px;
	padding-right: 8px;
}
#slider .buttons {
	padding-top: 60px;
}
#slider .buttons a.nofill {
	font-size: 16px;
	background-color: transparent;
	border-radius: 60px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#slider .buttons a.nofill:hover {
	background-color: #fff;
	border: 2px solid #fff;
	color: #df4322;
}
#slider .buttons a:first-child {
	margin-right: 10px;
}
.we-build h1 {
	color: #000;
}
.we-build {
	position: static;
	bottom: -300px;
	z-index: 999999;
	padding-top: 50px;
	padding-bottom: 10px;
	left: 0;
	right: 0;
}
.we-build {
	padding-bottom: 20px;
}
.we-build .intro {
	margin-top: 80px;
	text-align: center;
}
.services-cols {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.services-cols .description {
	padding-bottom: 30px;
}
.process-tabs .nav-tabs > li a {
	width: 90px;
	height: 90px;
	margin: 20px auto;
	border-radius: 45px;
	padding: 0;
	color: #43b573;
}
.believe-in .intro {
	padding-top: 50px;
	padding-bottom: 100px;
}
.responsive-design {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.responsive-design .image {
	padding-left: 60px;
	padding-right: 60px;
}
.high-quality .info {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.interactive {
	text-align: center;
}
.plus-blocks .text-block {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.plus-blocks .text-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.funfacts .box {
	padding-top: 30px;
	padding-bottom: 30px;
}
.getintouch {
	text-align: center;
}
.getintouch .pull-right {
	margin-top: 10px;
	float: none!important;
}
.prices .price-block .info .package {
	text-align: center;
}
.prices .price-block .info .price {
	text-align: center;
}
.prices .price-block .info .duration {
	text-align: center;
	padding-bottom: 30px;
}
.prices .price-block .details .buttons {
	text-align: center;
}
.prices .price-block .details .description {
	text-align: center;
}
.prices .price-block .details ul.features {
	margin: 0px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	text-align: center;
}
.prices .price-block .details ul.features li {
	font-size: 14px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	list-style-type: none;
}
.letsmake {
	text-align: center;
}
.letsmake h4 {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}
.letsmake .icon {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	font-size: 26px;
	text-align: center;
	padding-top: 15px;
	color: #fff;
	background-color: #df4322;
	float: none!important;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}
#featured-project-page #options ul {
	width: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}
.blog-page .no-gutter-10 {
	padding-left: 15px;
	padding-right: 15px;
}
#counter {
	width: 100%;
}
#counter span {
	font: 50px/1em 'Montserrat', sans-serif;
	display: block;
	min-width: 25%;
	float: left;
	padding-top: 12px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	font-weight: 400;
}
#counter span em {
	font: 14px/18px 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
	color: #fff;
}
}
@media only screen and (min-width:320px) and (max-width:767px) {
.nav>li>a {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.navbar-nav {
	margin-left: 0px!important;
	float: none!important;
	text-align: left!important;
}
#navigation ul.nav li {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
nav {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	background-color: rgba(0, 0, 0, 1)!important;
}
nav.smaller {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
.services-tabs ul li:hover .point {
	display: none;
}
.services-tabs ul li.active .point {
	display: none;
}
#portfolio h1 {
	text-align: center;
}
#portfolio h3 {
	text-align: center;
}
#options ul {
	width: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
}
#counter {
	width: 100%;
}
#counter span {
	font: 40px/1em 'Montserrat', sans-serif;
	display: block;
	min-width: 25%;
	float: left;
	padding-top: 12px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	font-weight: 400;
}
#counter span em {
	font: 12px/18px 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
	color: #fff;
}
}
 @media only screen and (min-width:320px) and (max-width:480px) {
.navbar-toggle {
	margin-right: 0px;
}
.navbar-brand {
	padding-right: 0px;
	padding-left: 0px;
}
.top-contact {
	padding-right: 20px;
	padding-left: 20px;
}
.top-contact {
	font-size: 16px;
	text-align: center;
}
ul.dropdown-menu {
	padding: 0px;
}
.navbar-collapse {
	padding-right: 0px;
	padding-left: 0px;
}
.nav>li>a {
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.we-build h1 {
	color: #fff;
}
.we-build {
	position: static!important;
	bottom: 0px;
	z-index: 999999;
	padding-top: 50px;
	padding-bottom: 10px;
	left: 0;
	right: 0;
}
.we-build {
	padding-bottom: 30px;
}
.we-build .intro {
	margin-top: 50px;
	text-align: center;
}
.services-cols {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 5px;
}
.manage h1 {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 20px;
}
.interactive {
	font-size: 26px;
	line-height: 40px;
	text-align: center!important;
}
.interactive .icon {
	padding: 20px;
}
.featured-projects h1 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 10px;
}
.team h1 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 10px;
}
.team-icons h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 10px;
}
.services h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: left;
}
.services-02-intro h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 0px;
	margin-top: 0px;
}
.intro h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
}
.quote .description {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	line-height: normal;
}
.parallax-inner h1 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 40px;
}
.parallax-inner .description {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	padding-left: 50px;
	padding-right: 50px;
}
.about-page .intro h1 {
	font-size: 40px;
	font-weight: 700;
}
.about-page .detail h1 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 20px;
}
.buttons {
	padding-top: 40px;
	margin-bottom: 30px;
}
.main-services-tabs .tab-content h1 {
	font-size: 40px;
	font-weight: 700;
	padding-top: 0px;
	margin-top: 0px;
}
.plus-blocks .text-block h1 {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.testimonials .description {
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	line-height: 30px;
}
.letsmake h4 {
	line-height: normal;
}
#portfolio h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#options ul {
	width: auto;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 30px;
}
.project-page .icons .caption {
	font-size: 12px;
	color: #646464;
	text-transform: uppercase;
	padding-top: 10px;
}
.project-page .icons .icon {
	font-size: 30px;
	color: #43b572;
}
.blog .post .info h1 {
	font-size: 24px;
	font-weight: 700;
}
.blog-page .post .info h1 {
	font-size: 30px;
	font-weight: 700;
}
.blog-page .post .info {
	padding: 20px;
}
.blog .post .info {
	padding: 20px;
}
.blog-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 0;
	right: 0;
}
.blog-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 0;
	left: 0;
}
.blog-carousel.owl-theme .owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
	font-size: 28px;
	line-height: 1.1;
	padding-top: 4px;
	filter: Alpha(Opacity=100);
	opacity: 1;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	background-color: #ffad08;
}
.two-blocks .text-block h1 {
	font-size: 60px;
	font-weight: 700;
	color: #fff;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#featured-project-page h1 {
	font-size: 40px;
	font-weight: 700;
	text-align: left;
}
.believe-in h3 {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.believe-in .description {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}
.believe-in .buttons {
	text-align: center;
}
.our-process h1 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 10px;
}
.funfacts .intro {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.funfacts .intro h1 {
	font-size: 30px;
	font-weight: 700;
	margin-top: 0px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.funfacts .box .count {
	font-size: 70px;
}
.services-tabs ul li .icon {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	font-size: 30px;
	text-align: center;
	padding-top: 0px;
	float: left;
	margin-top: -12px;
	line-height: 65px;
}
.services-tabs ul li .info {
	margin-left: 75px!important;
}
.services-tabs ul li .description {
	line-height: normal;
}
}
