/* =Header
-------------------------------------------------------------- */
nav {
	width: 100%;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;/*	padding-top: 50px;*/
}
nav {
	display: inline-block;
	float: right;
}
nav.smaller {
	background-color: rgba(30, 30, 30,1)!important;
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
.hide {
	display: none;
}
