<div class="ajax-text-and-image white-popup-block">
  <style>
	.ajax-text-and-image {
		max-width:800px; margin: 20px auto; background: #FFF; padding: 0; line-height: 0;
	}
	.ajcol {
		width: 50%; float:left;
	}
	.ajcol img {
		width: 100%; height: auto;
	}
	.popup{
		padding:30px;
	}
	.popup .name {
	font-size: 26px;
	color: #df4322;
	font-weight: 700;
	}
	.popup .designation {
		font-size: 16px;
		padding-bottom:20px;
		
	font-weight: 400;
	}
	.popup .description {
		font-size: 14px;
	}
	.popup .icons {
		font-size: 18px;
		padding-top: 4px;
	}
	.popup .icons i{
		padding-right:6px;
	}
	@media all and (max-width:30em) {
		.ajcol { 
			width: 100%;
			float:none;
		}
	}
	</style>
  <div class="ajcol"><img src="http://placehold.it/500x500" class="img-responsive center-block" alt=""></div>
  <div class="ajcol" style="line-height: 1.231;">
    <div class="popup">
      <div class="name">NASH Brown</div>
      <div class="designation">Community Manager</div>
      <div class="description">We created a unique online flagship store focused on engagement and ecommerce, whilst sustaining a prominent brand voice unique materials and creative packaging.</div>
      <hr>
      <div class="icons"><i class="fa fa-envelope-o"></i> <i class="fa fa-facebook"></i> <i class="fa fa-linkedin"></i></div>
    </div>
  </div>
  <div style="clear:both; line-height: 0;"></div>
</div>
