/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-item div {
	padding: 0px;
	margin: 0px;
}
.pictures-carousel.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -40px!important;
}
.pictures-carousel.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -40px!important;
}
.pictures-carousel.owl-theme .owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
 *display: inline;
	font-size: 28px;
	line-height: 1.1;
	padding-top: 25px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	width: 40px;
	height: 80px;
	color: #fff;
	text-align: center;
	background-color: #df4322;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 0;
	left: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 0;
	right: 0;
}
.owl-theme .owl-controls .owl-buttons div {
	display: inline-block;
	zoom: 1;
 *display: inline;
	font-size: 28px;
	line-height: 1.1;
	padding-top: 4px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	background-color: #df4322;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
	color: #000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
 *display: inline;/*IE7 life-saver */
	padding-top: 10px;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #d7d6d4;
	margin-top: 0px;
	margin-right: 8px;
	margin-bottom: 0px;
	margin-left: 8px;
}
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #df4322;
}
.owl-theme .owl-controls .owl-page span {
	display: inline-block;
	font-size: 18px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #df4322;
	font-family: FontAwesome;
	font-style: normal;
	line-height: 1;
	font-weight: normal;
	font-variant: normal;
}
.owl-theme .owl-controls .owl-page.active span {
	background: none!important;
}
.owl-theme .owl-controls .owl-page.active span:before {
	content: "\f192";
	margin-left: -2px;
}
/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
